<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
</head>
<body>
   {{>navbar}}

   <!-- main header -->
    
   <div class="container-fluid main_header">
       <div class="row">
           <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_center align-items-center">
                    <figure>
                        <img src="image/404err.jpg" alt="" class="img-fluid myImg">
                    </figure>
                 </div>
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                 <p>welcome to Error Page</p>
                 <h1 style="color: red;">Opps! something went wrong</h1>
                 <a href="/"><button>GO BACK</button></a>
                </div>
                <!-- right side div -->
                
            </div>
           </div>
       </div>
   </div>


  {{>footer}}
</body>
</html>