<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
</head>
<body>
   {{>navbar}}

   <!-- main header -->
    
   <section>
            <div class = "image">
               <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>The purpose of Tool based website is to provide better tools for the user which help them in doing their work quickly and in an efficient way without downloading any application. This service is very helpful, it saves time and easy to use online.

The tools on this website will provide better service. It can lead to error free, secure, reliable and fast processing system. It assist the user to concentrate on other activities rather to concentrate on small task like converting one file to another, compressing file, making pdf, etc. It build good relationship with user and any user can use it without any difficulty.
</p>
                <ul class = "links">
                    <li><a href = "/">Home</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "/tools">Services</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "/contact">contact</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section><br><br>
        


  {{>footer}}
</body>
</html>