<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
</head>
<body>
   {{>navbar}}

{{!-- <div class="row mt-20">
  <div class="col-sm-4"> --}}
   <div class="cards">
     <div class="myview">
     
    <ul>                    
    	<h5 class="card-title">TEXT TO SPEECH</h5>
        <p class="card-text">This will convert your text to speech which you can listen online.</p>
        <a href="/textToSpeech" class="btn btn-primary btn-lg btn-block">CONVERT</a>
   </ul>
   
   </div>
   <div class="myview">
     <ul>                    
    	<h5 class="card-title">RESIZE IMAGE</h5>
        <p class="card-text">Resize the image as per the users requirement.</p>
        <a href="/imageResize" class="btn btn-primary btn-lg btn-block">RESIZE</a>
   </ul>
   </div>
   <div class="myview">
      <ul>                    
    	<h5 class="card-title">IMAGE TO PDF</h5>
        <p class="card-text">convert set of images to pdf.</p>
        <a href="/imageToPdf" class="btn btn-primary btn-lg btn-block">CONVERT</a>
   </ul>
   </div>
   </div>
  {{!-- </div>
</div>  --}}

   <!-- main header -->
    {{!-- <div class="heading">
      <h1>SERVICES</h1>
    </div>
    <hr>
  <div class="row mt-20">
  <div class="col-sm-4">
    <div class="card border border-warning rounded">
      <div class="card-body">
        <h5 class="card-title">TEXT TO SPEECH</h5>
        <p class="card-text">This will convert your text to speech which you can listen online.</p>
        <a href="/textToSpeech" class="btn btn-primary btn-lg btn-block">CONVERT</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border border-warning rounded">
      <div class="card-body">
        <h5 class="card-title">RESIZE IMAGE</h5>
        <p class="card-text">Resize the image as per the users requirement.</p>
        <a href="/imageResize" class="btn btn-primary btn-lg btn-block">RESIZE</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border border-warning rounded">
      <div class="card-body">
        <h5 class="card-title">IMAGE TO PDF</h5>
        <p class="card-text">convert set of images to pdf.</p>
        <a href="/imageToPdf" class="btn btn-primary btn-lg btn-block">CONVERT</a>
      </div>
    </div>
  </div>
</div> --}}

  {{>footer}}
</body>
</html>